<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h3 style="text-align:center">Routing, Data Binding, Property Binding,  Reactive Forms Validation, 
  <br/> HttpClient with on click show method, Users list and user details with Child routing  </h3>
<ul>
  <li>
    <a routerLink="/">Home</a> | 
    <a routerLink="/about">About</a> |
    <a routerLink="/blog"> Blog</a> | 
    <a routerLink="/users">Users</a> |
    <a routerLink="/contact">Contact</a>
  </li>
</ul>

<router-outlet></router-outlet>

